# PlatformIO
.pio/
.vscode/
.sdkconfig
.sdkconfig.old

# Build output
build/
bin/
firmware.bin

# Secrets
src/secrets.h
src/devices.c

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
*.code-workspace
.idea/
